body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #d7ddde;
}

h1 {
    position: static;
    top: 18px;
    left: 10px;

}

img {
    height: 40px;
    float: left;
}
.darkBox {
    padding: 10px;
    margin: 10px;
    height: calc(auto + 10);
    margin: 20px 6px 20px 6px;
    background-color: #F7FEFF;
    border: rgb(129, 129, 129) solid 1px;
    border-radius: 4px;
    margin: 10px 0;
}

.darkBox:hover {
    cursor: pointer;
}

.indexFont {
    justify-content: center;
    font-size: larger;
    font-weight: 500;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    color: #3ab174;
}

.select {
    background: whitesmoke; 
    border: #818181 solid 1px;
    border-radius: 4px;
}

.input {
    background: whitesmoke;
    border: rgb(129, 129, 129) solid 1px;
    border-radius: 2px;
    width: 100px;
    margin: 0px 4px 0px 0px;
}

#chatbox {
    height: 300px;
    overflow: auto;
    padding: 10px;
    margin: 20px 6px 20px 6px;
    background: whitesmoke;
    border: rgb(129, 129, 129) solid 1px;
    border-radius: 4px;
}

#chatbox p {
    margin: 10px 0;
}

#userinput {
    display: flex;
    align-items: stretch;
    margin: 7px 20px 20px 20px;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;

}

sus {
    align-self: center;
    font-size: larger;
}

#inputbox {
    flex-grow: 1;
    margin-right: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0px 0px 0px 4px;
}

button:hover {
    background: #357a37;
}

.size {
    width: 600px;
    height: inherit;
}